<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Student Information</title>
    <link href="/static/css/mgr_style.css" rel="stylesheet"/>
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet"/>
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar">
        <div class="navbar-header">
            <a class="navbar-brand " style="font-size:xx-large;">My School</a>
        </div>
    </nav>
    </nav>
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav highlight" id="main-menu">

                <li>
                        <a style="cursor:pointer" href="/student_info/"><i class="fa fa-desktop"></i>  Personal Information</a>
                </li>

                <li>
                        <a style="cursor:pointer" href="/get_student_score/" id="b"><i class="fa fa-table"></i> Scores</a>
                </li>

                <li>
                        <a style="cursor:pointer" id="c" href="/student_time_table/"><i
                                class="fa fa-edit"></i> Timetable</a>
                </li>

                <li>
                        <a style="cursor:pointer" id="c" href="/student_info/?typ=change_password"><i
                                class="fa fa-edit"></i> Change Password</a>
                </li>
                                <li><a onclick=logout() style="cursor:pointer"><i class="fa fa-sign-out fa-fw"></i>Log out</a>
                </li>
            </ul>

        </div>

    </nav>
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        {{ title }}
                    </h1>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        {% if not typ %}
                            <div class="panel-body">
                                <label>ID</label>
                                <div class="alert alert-danger" id="id">
                                    {{ student_id }}
                                </div>
                                <label>Full Name</label>
                                <div class="alert alert-success" id="name">
                                    {{ name }}
                                </div>
                                <label>Sex</label>
                                <div class="alert alert-info" id="sex">
                                    {{ sex }}
                                </div>
                                <label>Birthday</label>
                                <div class="alert alert-warning" id="birth_year">
                                    {{ birth_day }}
                                </div>
                                <label>Date of Birth</label>
                                <div class="alert alert-danger" id="province">
                                    {{ native_place }}
                                </div>
                                <label>Major</label>
                                <div class="alert alert-info" id="major_name">
                                    {{ major }}
                                </div>
                                <label>Class</label>
                                <div class="alert alert-info" id="major_name">
                                    {{ clazz }}
                                </div>
                                <a type="button" class="btn btn-success" href="/student_info/?typ=update">Update Information</a>

                            </div>
                        {% elif typ == 'update' %}
                            <div>
                                <form action="{% url 'student_info' %}" method="post"
                                      role="search">
                                    {% csrf_token %}

                                    {% if tid %}
                                        <input value="{{ sid }}" hidden name="student_id">
                                    {% endif %}
                                    <input hidden value="info" name="req_typ">


                                    <div class="input-group input-group-lg" style="margin: 20px 0">
                                        <span class="input-group-addon" id="sizing-addon1">Full Name</span>
                                        <input type="text" class="form-control" placeholder="Full Name" name="name"
                                               aria-describedby="sizing-addon1">
                                    </div>
                                    <div class="input-group input-group-lg" style="margin: 20px 0">
                                        <span class="input-group-addon" id="sizing-addon1">Gender</span>
                                        <input type="text" class="form-control" placeholder="Gender" name="sex"
                                               aria-describedby="sizing-addon1">
                                    </div>
                                    <div class="input-group input-group-lg" style="margin: 20px 0">
                                        <span class="input-group-addon" id="sizing-addon1">Birthday</span>
                                        <input type="text" class="form-control" placeholder="Birthday" name="birth_day"
                                               aria-describedby="sizing-addon1">
                                    </div>

                                    <div class="input-group input-group-lg" style="margin: 20px 0">
                                        <span class="input-group-addon" id="sizing-addon1">Birth Place</span>
                                        <input type="text" class="form-control" placeholder="Birth Place" name="native_place"
                                               aria-describedby="sizing-addon1">
                                    </div>
                                    <div class="input-group input-group-lg" style="margin: 20px 0">
                                        <span class="input-group-addon" id="sizing-addon1">Major&Class</span>
                                        <select class="form-control" name="clazz">
                                            {% for row in clazzs %}
                                                <option>{{ row.major_id.name }}-{{ row.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </form>
                            </div>
                            {% if message %}
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <strong>Error:</strong> {{ message }}
                                </div>
                            {% endif %}
                        {% elif typ == 'change_password' %}
                            <form action="{% url 'student_info' %}" method="post"
                                  role="search">
                                {% csrf_token %}

                                {% if tid %}
                                    <input value="{{ tid }}" hidden name="teacher_id">
                                {% endif %}
                                <input hidden value="password" name="req_typ">
                                <div class="input-group input-group-lg" style="margin: 20px 0">
                                    <span class="input-group-addon" id="sizing-addon1">Please enter new password</span>
                                    <input type="password" class="form-control" placeholder="password" name="password"
                                           aria-describedby="sizing-addon1">
                                </div>
                                <div class="input-group input-group-lg" style="margin: 20px 0">
                                    <span class="input-group-addon" id="sizing-addon1">Please enter again</span>
                                    <input type="password" class="form-control" placeholder="re-enter password" name="password-again"
                                           aria-describedby="sizing-addon1">
                                </div>

                                <button type="submit" class="btn btn-success">Submit</button>
                            </form>
                            {% if message %}
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <strong>Error:</strong> {{ message }}
                                </div>
                            {% endif %}
                        {% elif typ == 'time_table' %}
                            <table border="1" class="table table-striped table-bordered table-hover"
                                   style="width: 1000px; border-collapse: collapse;">
                                <thead>
                                <tr>
                                    <td>Time Table</td>
                                    <td>Monday</td>
                                    <td>Tuesday</td>
                                    <td>Wednesday</td>
                                    <td>Thursday</td>
                                    <td>Friday</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for k, v in time_table.items %}

                                    <tr>
                                        {% if k == '1' %}
                                            <td>{{ k }}(8:00~9:40)</td>
                                        {% elif k == '2' %}
                                            <td>{{ k }}(10:00~11:40)</td>
                                        {% elif k == '3' %}
                                            <td>{{ k }}(14:00~15:40)</td>
                                        {% elif k == '4' %}
                                            <td>{{ k }}(15:50~17:50)</td>
                                        {% endif %}

                                        {% if v.1 %}
                                            <td>{{ v.1.curriculum.name }}-{{ v.1.curriculum.teacher_id.name }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                        {% if v.2 %}
                                            <td>{{ v.2.curriculum.name }}-{{ v.2.curriculum.teacher_id.name }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                        {% if v.3 %}
                                            <td>{{ v.3.curriculum.name }}-{{ v.3.curriculum.teacher_id.name }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                        {% if v.4 %}
                                            <td>{{ v.4.curriculum.name }}-{{ v.4.curriculum.teacher_id.name }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                        {% if v.5 %}
                                            <td>{{ v.5.curriculum.name }}-{{ v.5.curriculum.teacher_id.name }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        {% elif typ == 'score' %}
                            {% if not scores %}
                                <h1>No score yet</h1>
                            {% else %}
                                <table border="1" class="table table-striped table-bordered table-hover"
                                >
                                    <thead>
                                    <tr>
                                        <td>course</td>
                                        <td>Teacher</td>
                                        <td>score</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for sco in scores %}
                                        <tr>
                                            <td>{{ sco.curriculum_id.name }}</td>
                                            <td>{{ sco.curriculum_id.teacher_id.name }}</td>
                                            <td>{{ sco.score }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            <blockquote class="blockquote-reverse">
                                Some results maybe missing because they are not yet available
                            </blockquote>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/assets/js/jquery-1.10.2.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/jquery.metisMenu.js"></script>
<script src="/static/assets/js/custom-scripts.js"></script>

<script type="text/javascript">
    function delCookie() {
        var keys = document.cookie.match(/[^ =;]+(?==)/g)
        if (keys) {
            for (var i = keys.length; i--;) {
                document.cookie = keys[i] + '=0;path=/;expires=' + new Date(0).toUTCString() 
                document.cookie = keys[i] + '=0;path=/;domain=' + document.domain + ';expires=' + new Date(0).toUTCString() 
                document.cookie = keys[i] + '=0;path=/;domain=ratingdog.cn;expires=' + new Date(0).toUTCString() 
            }
        }
    }

    function logout() {
        if (confirm("Continue log out?")) {
            window.location.href = '/logout/'
        }
    }
</script>

</body>
</html>
